<section class="">
  <div class="row">
    <div class="">
      <div class="d-flex justify-content-between align-items-center station-a station-a-entro pt-0 pb-0">
        <div class="d-flex ">
          <i class="fa-solid fa-circle pt-5 pb-0 mb-0"></i>
          <img
            class="ps-3"
            src="../../../assets/gas-station-svgrepo-com (1).svg"
          />
          <p class="ps-3 station-name">STATION NAME <br> DUMMY</p>
        </div>
        <i class="fa-solid fa-ellipsis"></i>

      </div>

      <div class="station-a mt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Compression State</p>
            <p>Compression</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction / hour</p>
            <p>20</p>
        </div>
      </div>
      <div class="station-a mt-0 pt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Total Transaction Count</p>
            <p>5161</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction Date-Time</p>
            <p>8-1-2021|10:16 PM</p>
        </div>
      </div>
      
    </div>
    <div class="">
      <div class="d-flex justify-content-between align-items-center station-a station-a-entro pt-0 pb-0">
        <div class="d-flex ">
          <i class="fa-solid fa-circle pt-5"></i>
          <img
            class="ps-3"
            src="../../../assets/gas-station-svgrepo-com (1).svg"
          />
          <p class="ps-3 station-name">STATION NAME <br> DUMMY</p>
        </div>
        <i class="fa-solid fa-ellipsis"></i>

      </div>

      <div class="station-a mt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Compression State</p>
            <p>Compression</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction / hour</p>
            <p>20</p>
        </div>
      </div>
      <div class="station-a mt-0 pt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Total Transaction Count</p>
            <p>5161</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction Date-Time</p>
            <p>8-1-2021|10:16 PM</p>
        </div>
      </div>
      
    </div>
  
    <div class="">
      <div class="d-flex justify-content-between align-items-center station-a station-a-entro pt-0 pb-0">
        <div class="d-flex ">
          <i class="fa-solid fa-circle pt-5"></i>
          <img
            class="ps-3"
            src="../../../assets/gas-station-svgrepo-com (1).svg"
          />
          <p class="ps-3 station-name">STATION NAME <br> DUMMY</p>
        </div>
        <i class="fa-solid fa-ellipsis"></i>

      </div>

      <div class="station-a mt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Compression State</p>
            <p>Compression</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction / hour</p>
            <p>20</p>
        </div>
      </div>
      <div class="station-a mt-0 pt-0 pb-0 d-flex  justify-content-between align-items-center pt-4">
        <div class="d-flex  station-details">
            <p class="pe-5">Total Sales</p>
            <p class="pe-5">62,721m²</p>
            <p class="pe-5">Total Transaction Count</p>
            <p>5161</p>
        </div>
        <div class="d-flex">
            <p class="pe-5">Max Transaction Date-Time</p>
            <p>8-1-2021|10:16 PM</p>
        </div>
      </div>
      
    </div>
  
  </div>
</section>
